.center {
  margin: auto;
}

.main {
	margin: 10vh auto;
}

h1 {
	text-align: center;
	padding-bottom: 1vh;
	color: #007bff;
}

.btn {
	width: 100%;
	margin: 1vh auto;
}

.box {
	background: rgba(236, 236, 236, 0.98);
	border-radius: 5px;
	box-shadow: 0 0px 12px rgba(0, 0, 0, .74);
	padding: 3vh;
	overflow: hidden;
}

.box-nav {
	background: rgba(236, 236, 236, 0.98);
	border-radius: 5px;
	box-shadow: 0 0px 12px rgba(0, 0, 0, .74);
	padding: 3vh;
}


.fancy {
	line-height: 0.5;
	text-align: center;
	color: #007bff;
	font-weight: bold;
	padding: 2vh 0;
}
.fancy span {
	display: inline-block;
	position: relative;
}
.fancy span:before,
.fancy span:after {
	content: "";
	position: absolute;
	height: 5px;
	border-bottom: 1px solid #007bff;
	border-top: 1px solid #007bff;
	top: 0;
	width: 600px;
}
.fancy span:before {
	right: 100%;
	margin-right: 15px;
}
.fancy span:after {
	left: 100%;
	margin-left: 15px;
}

.green {
	margin: 1vh 15%;
	background: green;
	width: 70%;
}

.red {
	margin: 1vh 15%;
	background: red;
	width: 70%;
}

.error {
	fonr-size: 10pt;
	color: darkred;
}

.pad {
	margin: 2vh auto;
}
